.header{
    text-align: center;
}

.header img{
    height: 80px;
}

.header nav{
    background-color: #000;
    line-height: 40px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover{
    background-color: gray;
}